@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to DotNetSportsQuizApp!</h1>
    <p>Test your knowledge in various sports by participating in our interactive quizzes, or create your own quizzes to challenge others. Track your progress, compare your scores with others on the leaderboard, and see how you rank among sports enthusiasts.</p>

    <p>
        Our platform covers a wide range of sports, including Football, Basketball, Hockey, and more! Whether you're a casual fan or a sports expert, our quizzes offer a fun way to improve your knowledge and compete with others.
    </p>

    <p>
        <a class="btn btn-success" href="/SportsQuizs">Take a Quiz Now!</a>
        <a class="btn btn-secondary" href="/SportsQuizs/Create">Create Your Own Quiz</a>
    </p>
</div>

